// RESET
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%
}

//FONT
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}



// HEADER
.container{
    max-width: 1600px;
    margin: 0 auto;

    .main_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        flex-wrap: wrap;
        height: 100px;



        .logo{
        width: max-content;
        padding: 10px;

            img{
                max-width: 75px;
                display: block;
            }
        }

        .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 15px;

            .navbar__list{
                display: contents;
                list-style: none;
                height: 100%;
            }

            .navbar__item{
                text-transform: uppercase;
                height: 100%;
                display: flex;
                position: relative;

                    &:hover::after{
                        position: absolute;
                        display: block;
                        content: '';
                        height: 3px;
                        background-color: #0C7CEC;
                        top: 97%;
                        right: 0;
                        left: 0;
                    }

                a{
                    color: currentColor;
                    text-decoration: none;
                    font-weight: 400;
                    position: relative;
                    align-self: center;

                    &:active,&:hover{
                        color: #0C7CEC;
                    }

                    
                }
        }
        


      }
      .searchbar{
        border: 0px solid transparent;
        font-size: 14px;
        color: black;
        border-bottom: 2px solid #0C7CEC;
    }

    }
}

//JUMBOTRON
.jumbotron{
    height: 350px;
    background-image: url(/img/jumbotron.jpg);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

//MAIN
.main{
    background-color: #1C1C1C;

    .container{
        max-width: 1600px;
        margin: 0 auto;

        .card-wrapper{
            padding: 40px 0;
            width: 100%;
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;



            .card{
                width: calc((100% - 120px) / 6);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
        
                .thumb_wrapper{
                    width: 250px;
                    height: 250px;
        
        
                    img{
                        display: block;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: top;
        
                    }
                }
        
                .text{
                    margin-top: 10px;
                    text-transform: uppercase;
                    color: white;
                    font-size: 13px;
                    font-weight: 200;
                    align-self: flex-start;
                    white-space: nowrap;
                }
            }
        }
    }
}