@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;

0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.container .main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
  height: 100px;
}

.container .main_header .logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
}

.container .main_header .logo img {
  max-width: 75px;
  display: block;
}

.container .main_header .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 15px;
}

.container .main_header .navbar .navbar__list {
  display: contents;
  list-style: none;
  height: 100%;
}

.container .main_header .navbar .navbar__item {
  text-transform: uppercase;
  height: 100%;
  display: flex;
  position: relative;
}

.container .main_header .navbar .navbar__item:hover::after {
  position: absolute;
  display: block;
  content: "";
  height: 3px;
  background-color: #0C7CEC;
  top: 97%;
  right: 0;
  left: 0;
}

.container .main_header .navbar .navbar__item a {
  color: currentColor;
  text-decoration: none;
  font-weight: 400;
  position: relative;
  align-self: center;
}

.container .main_header .navbar .navbar__item a:active,
.container .main_header .navbar .navbar__item a:hover {
  color: #0C7CEC;
}

.container .main_header .searchbar {
  border: 0px solid transparent;
  font-size: 14px;
  color: black;
  border-bottom: 2px solid;
}

.jumbotron {
  height: 350px;
  background-image: url(/img/jumbotron.jpg);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}

.main {
  background-color: #1C1C1C;
}

.main .container {
  max-width: 1600px;
  margin: 0 auto;
}

.main .container .card-wrapper {
  padding: 40px 0;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.main .container .card-wrapper .card {
  width: calc((100% - 120px) / 6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main .container .card-wrapper .card .thumb_wrapper {
  width: 250px;
  height: 250px;
}

.main .container .card-wrapper .card .thumb_wrapper img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.main .container .card-wrapper .card .text {
  margin-top: 10px;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  font-weight: 200;
  align-self: flex-start;
  white-space: wrap;
}

.main .container .card-wrapper .load__wrapper {
  padding-top: 25px;
}

.main .container .card-wrapper .load__wrapper .load {
  text-transform: uppercase;
  color: white;
  background-color: #0C7CEC;
  padding: 10px 30px;
  border: none;
  font-weight: 700;
}

.cta {
  width: 100%;
  background-color: #0C7CEC;
}

.cta .container {
  max-width: 1600px;
  margin: 0 auto;
}

.cta .container .cta__wrapper {
  padding: 40px 0;
}

.cta .container .cta__wrapper .cta__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 30px;
}

.cta .container .cta__wrapper .cta__list .cta__item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cta .container .cta__wrapper .cta__list .cta__item figure {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.cta .container .cta__wrapper .cta__list .cta__item figure img {
  height: 45px;
}

.cta .container .cta__wrapper .cta__list .cta__item .cta__text {
  color: white;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
}

.footer {
  position: relative;
  background-image: url(/img/footer-bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container {
  max-width: 1600px;
  margin: 0 auto;
}

.footer .container .footer__wrapper {
  display: flex;
  width: 100%;
}

.footer .container .footer__wrapper .footer__list {
  padding: 40px 0;
  flex-grow: 1;
  display: flex;
  gap: 30px;
}

.footer .container .footer__wrapper .footer__list .list_wrapper {
  padding: 0 10px;
}

.footer .container .footer__wrapper .footer__list .list_wrapper .footer__list__wrapper {
  list-style: none;
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.footer .container .footer__wrapper .footer__list .list_wrapper .footer__list__wrapper .footer__title {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0;
  text-transform: uppercase;
}

.footer .container .footer__wrapper .footer__list .list_wrapper .footer__list__wrapper .footer__list__item {
  color: #959595;
}

.footer .container .footer__wrapper .footer__list .list_wrapper .footer__list__wrapper .footer__list__item a {
  text-decoration: none;
  color: currentColor;
  font-size: 14px;
}

.footer .container .footer__wrapper .footer__bg__img {
  flex-grow: 1;
  background-image: url(/img/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center right;
}

.social {
  background-color: #303030;
  width: 100%;
}

.social .container {
  max-width: 1600px;
  margin: 0 auto;
}

.social .container .social__wrapper {
  display: flex;
  align-content: center;
}

.social .container .social__wrapper .social__button {
  flex-grow: 1;
  padding: 20px 0;
}

.social .container .social__wrapper .social__button .signup__button {
  padding: 8px 15px;
  background-color: transparent;
  border: 2px solid #0C7CEC;
  color: white;
  line-height: 22px;
}

.social .container .social__wrapper .social__cta {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.social .container .social__wrapper .social__cta .social__text {
  color: #0C7CEC;
  text-transform: uppercase;
  font-size: 22px;
  padding-right: 15px;
}

.social .container .social__wrapper .social__cta .social__list {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  gap: 15px;
}

.social .container .social__wrapper .social__cta .social__list .social__list__item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.social .container .social__wrapper .social__cta .social__list .social__list__item img {
  width: 30px;
  display: block;
}

